* {
    font-family: trebuc;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ababab;
}

.bold {
    font-family: trebucbd;
}

.italic {
    font-family: trebucit;
}

#container {
    width: 800px;
    background-color: white;
    margin: auto auto;
}

#header {
    position: relative;
    top: 0;
    width: 100%;
}

.logoBar {
    background: url(../images/black_gradient.png) repeat-x;
    width: 100%;
    height: 92px;
}

.logo {
    position: relative;
    top: -11px;
}

.logo img {
    border: none;
}

.menu {
    background-color: #bfbfbf;
    width: 100%;
    height: 38px;
    margin: 3px 0px;
    text-align: center;
}

.menu ul {
    position: relative;
    top: 8px;
    height: 100%;
}

.menu ul li {
    position: relative;
    padding: 11px 40px;
    display: inline;
    cursor: pointer;
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

.menu ul li:hover {
    background-color: white;
}

.menu ul li:hover a.topMenu {
    color: black;
}

.menu ul.dropDown li:hover a {
    color: black;
    text-decoration: underline;
}

.menu ul.dropDown {
    position: absolute;
    min-width: 180px;
    height: auto;
    list-style: none;
    padding: 5px 0px;
    margin: 0;
    background-color: white;
    filter: alpha(opacity=80);
    opacity: 0.8;
    left: 0; /* Required by firefox and ie to get proper horizontal alignment */
    top: 100%; /* Required by ie 7 to get proper vertical alignment */
    display: none;
    z-index: 1000;
}

.menu ul.dropDown li {
    padding: 5px 0px 5px 12px;
    font-size: 12px;
    text-align: left;
    display: block;
}

.menu li:hover ul.dropDown {
    display: block;
}

#content .slideshow {
    overflow: hidden;
    text-align: center;
}

#image {
    width: 800px;
}

#content .statement {
    background: url(../images/black_gradient.png) repeat-x;
    text-align: center;
    color: #bfbfbf;
    margin-top: -2px;
    padding: 10px;
}

#content .divider {
    background-color: #16a7e0;
    width: 100%;
    height: 3px;
}

#content .productSection .verticalDivider {
    border-right: 1px solid #cccccc;
}

#content .productSection .product {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-size: 12px;
    width: 260px;
    margin-top: 10px;
    text-align: center;
}

#content .productSection .product img {
    width: 250px;
}

#content .productSection .product .moreInfoButton {
    background: url(../images/black_gradient.png) repeat-x;
    background-position-y: -44px;
    border: 2px solid #bfbfbf;
    margin: 20px auto;
    width: 80px;
    height: 20px;
    color: #16a7e0;
    cursor: pointer;
}

/* <products> */

#content .productList {
    position: relative;
    display: table;
    background-color: #eaeaea;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 20px 0px;
}

#content .productList .verticalDivider {
    background: url(../images/vertical_divider_blue.png) no-repeat 95% 50%;
}

#content .productList .product {
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 250px;
    height: 200px;
}

#content .productList .left {
    padding-right: 80px;
}

#content .productList .right {
    padding-left: 50px;
}

#content .productList .product a {
    text-decoration: none;
    color: black;
}

#content .productList .product a:hover {
    color: #16a7e0;
}

#content .productList .product img {
    border: none;
    max-height: 160px;
}

#content .productList .product img.featuresheets {
    padding-top: 20px;
    height: 120px;
} 

#content .productList .product .vcenter {
    height: 158px;
    margin-top: 10px;
}

#content .buttonHolder {
    text-align: center;
    padding: 10px;
}

#content .buttonHolder img {
    border: none;
    margin: 0px 20px;
}

/* </products> */

#footer {
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

#footer ul {
    list-style-type: none;
}

#footer li {
    display: inline;
}

#footer .links {
    padding: 5px;
    background-color: #bfbfbf;
}

#footer .links li {
    padding: 0px 7px 0px 3px;
}

#footer .links a {
    color: black;
    text-decoration: none;
}

#footer .links .verticalDivider {
    border-right: 1px solid black;
}

#footer .moreLinks {
    padding: 15px;
}

#footer .moreLinks li {
    padding: 0px 7px 0px 3px;
}

#footer .moreLinks a {
    color: #16a7e0;
    text-decoration: none;
}

#footer .moreLinks .verticalDivider {
    border-right: 1px solid #16a7e0;
}
