@font-face {
    font-family: trebuc;
    src: url('../fonts/trebuc.eot');
}

@font-face {
    font-family: trebucbd;
    src: url('../fonts/trebucbd.eot');
}

@font-face {
    font-family: trebucbi;
    src: url('../fonts/trebucbi.eot');
}

@font-face {
    font-family: trebucit;
    src: url('../fonts/trebucit.eot');
}
